<div class="main-panel">
  <div class="content-wrapper">
    <h1>Settings</h1>
    <form
      action="/admin/settings"
      method="post"
      class="form mt-4 mx-auto"
      style="max-width: 500px"
    >
      <h3 class="text-white my-5">Change Password</h3>
      <%-include("./partials/messages")%>
      <div class="mb-3">
        <input
          type="password"
          placeholder="New Password"
          name="password"
          class="form-control text-white"
          required="false"
        />
      </div>

      <div class="mb-3">
        <input
          type="password"
          placeholder="Retype Password"
          name="password2"
          class="form-control text-white"
          required="false"
        />
      </div>
    </form>

    <form
      action="/admin/settings/addresses"
      method="post"
      class="form mt-4 mx-auto"
      style="max-width: 500px"
    >
      <h3 class="text-white my-5">Site Settings</h3>
      <%-include("./partials/messages")%>
      <div class="mb-3">
        <input
          type="text"
          placeholder="Bitcoin Address"
          name="bitcoinAddress"
          value="<%= site.bitcoinAddress %>"
          class="form-control text-white"
          required="false"
        />
        <br />
        <input
          type="text"
          placeholder="BCH Addrress"
          name="bchAddress"
          value="<%= site.bchAddress %>"
          class="form-control text-white"
          required="false"
        />
        <br />
        <input
          type="text"
          placeholder="Ethereum Address"
          name="ethereumAddress"
          class="form-control text-white"
          value="<%= site.ethereumAddress %>"
          required="false"
        />
        <br />
        <input
          type="text"
          placeholder="USDT Address"
          name="usdtAddress"
          class="form-control text-white"
          value="<%= site.usdtAddress %>"
          required="false"
        />
        <br />
        <input
          type="text"
          placeholder="Whatsapp number"
          name="whatsappNumber"
          class="form-control text-white"
          value="<%= site.whatsappNumber %>"
          required="false"
        />
        <br />
        <input
          type="text"
          placeholder="UPI ID"
          name="upiId"
          class="form-control text-white"
          value="<%= site.upiId %>"
          required="false"
        />
        <br />
        <input
          type="text"
          placeholder="Bank Name"
          name="bankName"
          class="form-control text-white"
          value="<%= site.bankName %>"
          required="false"
        />
        <br />
        <input
          type="text"
          placeholder="Bank Account Number"
          name="bankAccountNumber"
          class="form-control text-white"
          value="<%= site.bankAccountNumber %>"
          required="false"
        />
        <br />
        <input
          type="text"
          placeholder="Bank Account Name"
          name="bankAccountName"
          class="form-control text-white"
          value="<%= site.bankAccountName %>"
          required="false"
        />
        <br />
        <input
          type="text"
          placeholder="Bank IBAN"
          name="bankIban"
          class="form-control text-white"
          value="<%= site.bankIban %>"
          required="false"
        />
      </div>
      <button class="btn btn-success">Update</button>
    </form>
  </div>
</div>
